{% extends "base.html" %}
{% load static %}
{% block center %}

<style>

  .title-page {
    text-align: center;
  }

  .title-page h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
  }

  .title-page h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }

  .title-page h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
  }

  #breadcrumbs {
    background-color: #f3f5fa;
    padding: 20px 0;
  }

  h1 {
    text-align: center;
  }

  .table-responsive {
    margin-top: 30px;
  }

  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #37517e;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .table th,
  .table td {
    padding: 1rem;
    text-align: left;
    border-top: 1px solid #dee2e6;
  }

  .thead-dark th {
    color: #fff;
    background-color: #37517e;
  }

  .table-bordered {
    border: 1px solid #dee2e6;
    border-radius: 8px;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  }

  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }
  .btn-group .btn {
    margin-right: 5px;
  }

  @media (max-width: 576px) {
    body {
      margin-top: 100px;
    }

    h1 {
      font-size: 1.5em;
      display: block;
      justify-content: center;
    }

    .btn-group .btn {
      margin-bottom: 5px;
    }
  }

</style>

<body>

  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="{% url 'core:index' %}">Início</a></li>
        <li>Usuários</li>
      </ol>
    </div>
  </section>



  
  <div class="container">
    <div class="title-page">
      <h1 style="margin-top: 60px;">Usuários do site</h1>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">

        <thead class="thead-dark">
          <tr>
            <th>Email</th>
            <th>Nome</th>
            <th>Grupo Atual</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          {% for object in object_list %}
          <tr>
            <td>{{ object.email }}</td>
            <td>{{ object.username }}</td>
            <td>
              {% for group in object.groups.all %}
              <p>Funcionário</p>
              {% empty %}
              {% if object.is_superuser %}
              <p>Administrador</p>
              {% else %}
              <p>Usuário Comum</p>
              {% endif %}
              {% endfor %}
            </td>

            <td>
              <a href="{% url 'users:detalhe_user' object.id %}" class="btn btn-outline-primary btn-block">
                <i class="bi bi-info-circle"></i>
              
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4">
              <p>Não existem usuários cadastrados.</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if page_obj.has_other_pages %}
      <nav>
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Começo">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          {% endif %}
          {% for page_number in page_obj.paginator.page_range %}
          {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
          {% if page_obj.number == page_number %}
          <li class="page-item active">
            <span class="page-link">{{ page_number }}</span>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Final">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
<br>
{% endblock %}
