{% load i18n %}
{% load account socialaccount %}
{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'assets/css/slogin.css' %}"> 
    <link href="{% static 'assets/img/favicon-triumph.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon-triumph.png' %}" rel="apple-touch-icon"> 
    <title>Triumph</title>
    
</head>
<body>   

    <main id="container">
        <section id="login_form">
            <div id="form_header">
                <h1>Login</h1>
                <i id="mode_icon" class="fa-solid fa-moon"></i>
            </div>
            <div id="social_media">
                <a href="#">
                    <img src="{% static 'assets/img/login-icons/facebook.png' %}" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'assets/img/login-icons/google.png' %}" alt="Google logo">
                </a>
                <a href="#">
                    <img src="{% static 'assets/img/login-icons/github.png' %}" alt="">
                </a>
            </div>

            <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            
            
              <div id="inputs">
               
                <div class="input-box">
                <div class="form-group">
                  <label for="id_login">{% translate "Username:" %}</label>
                  <div class="input-field">
                  <i class="fa-solid fa-user"></i>
                  <div class="input-group">
                  <input type="text" name="login" class="form-control" placeholder="Digite seu nome de usuário">
                  </div>
                </div>
                </div>
              </div>
             
                
                <div class="input-box"> 
                <div class="form-group input-button">
                  <label for="id_password">{% translate "Senha:" %}</label>
                  <div class="input-field">
                  <i class="fa-solid fa-key"></i>
                  <div class="input-group">
                    <input type="password" name="password" class="form-control" placeholder="Digite sua senha">
                  </div>
                </div>
              </div>
              </div>
     

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
      
           <button type="submit" id="login_button"  >
              {% translate "Entrar" %}
            </button>

            <div id="forgot_password">
              <p> Ainda não tem cadastro?<a href="{% url 'account_signup' %}">Cadastre-se</a></p>
            </div>
           </form>
        </section>
    </main>
    <script type="text/javascript" src="{% static 'assets/js/scrilogin.js' %}"></script>
</body>
</html>



