{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sair" %}{% endblock head_title %}

{% block center %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center bg-danger text-white">
          <h1 class="h4">{% trans "Deslogar-se" %}</h1>
        </div>
        <div class="card-body">
          <p class="mb-4">{% trans 'Tem certeza que deseja sair?' %}</p>
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-danger btn-block">{% trans 'Sair' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}