<style>

  .modal-header {
    background-color: #37517e;
    color: white;
    border-bottom: 2px solid #47b2e4;
  }

  .modal-title {
    font-weight: bold;
  }

  .modal-body {
    color: #37517e;
  }

  .modal-footer {
    border-top: 2px solid #47b2e4;
  }

  .btn-secondary {
    background-color: #d3d3d3;
    color: #000;
  }

  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
</style>

<form method="post" action="{% url 'motos:remover_motos' moto.pk %}">
  {% csrf_token %}
  <div class="modal fade" id="modalExemplo-{{ moto.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmação de Exclusão</h5>
        </div>
        <div class="modal-body">
          Deseja Deletar o usuário {{ moto.modelo }}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-danger">Deletar</button>
        </div>
      </div>
    </div>
  </div>
</form>
