{% for message in messages %}
    <div class="alert alert-success d-flex align-items-center justify-content-between mb-3" role="alert" data-message-id="{{ forloop.counter }}">
        <div class="d-flex align-items-center">
            <div class="icon mr-2 align-middle"><i class="fas fa-check-circle fa-lg" aria-hidden="true"></i></div>
            <div class="content" style="margin-top: 15px; margin-left: 10px;">
                <span class="message-body">
                    <p>{{ message|safe }}</p>
                </span>
            </div>
        </div>
        <div class="close">
            <button class="btn btn-outline-danger circle small" type="button" aria-label="Fechar">
                <i class="fas fa-times" aria-hidden="true"></i>
            </button>
        </div>
    </div>
{% endfor %}

<script>
    function fecharMensagem(messageId) {
        const mensagem = document.querySelector(`[data-message-id="${messageId}"]`);
        if (mensagem) {
            mensagem.remove();
        }
    }
</script>