{% extends 'base.html' %}
{% load static %}
{% block center %}

<style>
    body {
        background-color: #f8f9fa;
        color: #495057;
        margin-top: 120px;
    }

    h1 {
        text-align: center;
    }

    form {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
    }

    input,
    select {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        display: block;
        margin: 0 auto; 
        background-color: #007bff;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    .b {
        display: block;
        text-align: center;
        color: black;
        text-decoration: none;
        margin-top: 15px;
        margin-bottom: 15px;
    }


    hr {
        margin-right: 120px;
        margin-left: 120px;
    }

</style>

<body>
    <h1>Cadastrar Nova Moto</h1>
    <a href="{% url 'motos:cadastrar_marca' %}" class="b">Cadastre a marca</a>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Modelo:</label>
            {{ form.modelo }}
        </div>

        <div class="mb-3">
            <label for="nome"  class="form-label">Marca:</label>
            {{ form.marca }}
        </div>

        <div class="mb-3">
            <label for="nome"  class="form-label">Preço:</label>
            {{ form.preco }}
        </div>

        <div class="mb-3">
            <label for="nome"  class="form-label">Ano:</label>
            {{ form.ano }}
        </div>

        <div class="mb-3">
            <label for="nome"  class="form-label">Imagem 1:</label>
            {{ form.imagem_1 }}
        </div>

        <div class="mb-3">
            <label for="nome"  class="form-label">Imagem 2:</label>
            {{ form.imagem_2 }}
        </div>

        <div class="mb-3">
            <label for="nome"  class="form-label">Imagem 3:</label>
            {{ form.imagem_3 }}
        </div>

        <div class="mb-3">
            <label for="nome"  class="form-label">Imagem 4:</label>
            {{ form.imagem_4 }}
        </div>

        <div class="mb-3">
            <label for="nome"  class="form-label">Imagem 5:</label>
            {{ form.imagem_5 }}
        </div>

        <button type="submit">Salvar</button>
    </form>
    <br>
</body>
</html>

{% endblock %}
