{% extends 'base.html' %}
{% load static %}
{% block center %}

<style>

#breadcrumbs {
  background-color: #f3f5fa;
  padding: 20px 0;
}


.portfolio-details-slider img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio-info {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.portfolio-info h3 {
  color: #333;
}

.portfolio-info ul {
  list-style: none;
  padding: 0;
}

.portfolio-info li {
  margin-bottom: 10px;
}

.portfolio-description {
  margin-top: 20px;
}

.portfolio-description h2 {
  color: #333;
}

.portfolio-description p {
  color: #666;
}

</style>

<main id="main">

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'core:index' %}">Início</a></li>
          <li><a href="{% url 'motos:catalogo' %}">Coleção</a></li>
          <li>Detalhes</li>
        </ol>
      </div>
    </section>
    
      <div class="container">
        <h1 class="text-center mt-4">Detalhes da {{ moto.modelo }}</h1>
      <hr>
      <section id="portfolio-details" class="portfolio-details">
        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{ moto.imagem_1.url }}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{ moto.imagem_2.url }}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{ moto.imagem_3.url }}" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="{{ moto.imagem_4.url }}" alt="">
                  </div>

                <div class="swiper-slide">
                    <img src="{{ moto.imagem_5.url }}" alt="">
                  </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Ficha Técnica</h3>
              <ul>
                <li><strong>Modelo</strong>: {{ moto.modelo }}</li>
                <li><strong>Marca</strong>: {{ moto.marca }}</li>
                <li><strong>Ano de fabricação</strong>: {{ moto.ano }}</li>
                <li><strong>Preço</strong>: R$ {{ moto.preco }}</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Descrição</h2>
              <p>
                {{ moto.desc }}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>

  </main>

    {% endblock %}