{% extends 'base.html' %}
{% load static %}
{% block center %}

<style>

.title-page {
  text-align: center;
}

.title-page h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.title-page h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.title-page h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

#breadcrumbs {
  background-color: #f3f5fa;
  padding: 20px 0;
}

  h1 {
    text-align: center;
  }

</style>

<body>

<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="{% url 'core:index' %}">Início</a></li>
      <li>Cadastros</li>
    </ol>
  </div>
</section>
  
  <div class="container">
      <div class="title-page">
        <h1 style="margin-top: 60px;">Lista de Cadastros</h1>
      </div>

      {% if messages %}
      <div class="messages">
        {% for message in messages %}

        {% if messages.warning %}
        <div style="text-align: center;" class="alert alert-danger{{ message.tags }}">
          {{ message }}
        </div>
        {% else %}
        <div style="text-align: center;" class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endif %}

        {% endfor %}
      </div>
      {% endif %}

      <div class="table-responsive">
        <table class="table table-bordered table-fixed">
          <thead class="thead-primary">
            <tr>
              <th class="text-center" style="width: 20%;">Imagem</th>
              <th class="text-center" style="width: 20%;">Modelo</th>
              <th class="text-center" style="width: 20%;">Marca</th>
              <th class="text-center" style="width: 20%;">Preço</th>
              <th class="text-center" style="width: 20%;">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for moto in object_list %}
            <tr>
              <td class="text-center"><img style="width: 100px;" src="{{ moto.imagem_1.url }}" alt=""></td>
              <td class="text-center">{{ moto.modelo }}</td>
              <td class="text-center">{{ moto.marca }}</td>
              <td class="text-center">R${{ moto.preco }}</td>
              <td class="text-center">
                <a href="{% url 'motos:editar' moto.id %}" class="btn btn-outline-primary btn-block">
                    <i class="bi bi-pencil"></i>
                </a>
                <a href="{% url 'motos:detalhar_motos' moto.id %}" class="btn btn-outline-success btn-block">
                    <i class="bi bi-info-circle"></i>
                </a>
                <a href="{% url 'motos:remover_motos' moto.id %}" class="btn btn-outline-danger btn-block">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% if page_obj.has_other_pages %}
      <nav>
        <ul class="pagination justify-content-center">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Começo">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          {% endif %}

          {% for page_number in page_obj.paginator.page_range %}
          {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
            {% if page_obj.number == page_number %}
            <li class="page-item active">
              <span class="page-link">{{ page_number }}</span>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Final">
                <span aria-hidden="true">&raquo;&raquo;</span>
              </a>
            </li>
            {% endif %}

        </ul>
      </nav>
      {% endif %}

    </div>
  </div>

</body>

{% endblock %}