<style>
  .modal-header {
    background-color: #37517e;
    color: white;
    border-bottom: 2px solid #47b2e4;
    padding: 15px;
    text-align: center;
  }

  .modal-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 auto;
  }

  .modal-body {
    color: #37517e;
    padding: 20px;
    text-align: center;
  }

  .modal-footer {
    border-top: 2px solid #47b2e4;
    padding: 15px;
    justify-content: center;
  }

  .btn-secondary {
    background-color: #d3d3d3;
    color: #000;
  }

  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
</style>

<form method="post" action="{% url 'users:delete_users' object.pk %}">
  {% csrf_token %}
  <div class="modal fade" id="modalExemplo1-{{ object.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirmação de Exclusão</h5>
              </div>
              <div class="modal-body">
                Deseja deletar o usuário "{{ object.username }}" ?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="submit" class="btn btn-danger">Deletar</button>
              </div>
          </div>
      </div>
  </div>
</form>