{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  <title>Triumph</title>

  <!--Favicons-->
  <link href="{% static 'assets/img/favicon-triumph.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon-triumph.png' %}" rel="apple-touch-icon">
  <!--Fontes do Google-->
  <link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <!--Arquivos CSS de Vendors-->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!--CSS-->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


</head>

<body>
  <!--Cabeçalho-->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="http://127.0.0.1:8000/">Triumph</a></h1>

      <nav id="navbar" class="navbar">
        <ul>

          {% if user.is_superuser %}
          <li><a class="nav-link scrollto" href="{% url 'users:lista_usuarios' %}">Usuários</a></li>
          {% endif %}
          {% if request.pode_cadastrar or user.is_superuser %}
          <li><a class="nav-link scrollto" href="{% url 'motos:cadastrar_moto' %}">Cadastrar</a></li>
          <li><a class="nav-link scrollto" href="{% url 'motos:visualizar_motos' %}">Motos</a></li>
          {% endif %}
          <li><a class="nav-link scrollto" href="{% url 'motos:catalogo' %}">Coleção</a></li>
          {% if request.user.is_anonymous %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Usuário</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a style="color: black;" class="dropdown-item" href="{% url 'account_login' %}">Login</a>
              <a style="color: black;" class="dropdown-item" href="{% url 'account_signup' %}">Cadastrar</a>
            </div>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="{% url 'core:contato' %}">Contato</a></li>
          <li class="dropdown"><a href="#"><span>@{{ request.user }}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">{{ request.user.email }}</a></li>
              <li><a style="margin-left: 50px; margin-bottom: 5px;" href="{% url 'account_change_password' %}"><i>Alterar senha</i></a></li>
              <li>

                {% if user.is_authenticated %}
                <form style="text-align: center;" method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button class="btn btn-outline-danger" type="submit">
                    Logout</button>
                </form>

                {% endif %}



              </li>
            </ul>
          </li>
          <li>




          </li>
        </ul>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      {% endif %}
    </div>
  </header>




  {% block center %}
  {% endblock %}


  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Triumph</h3>
            <p>
              Água Nova, 59995-000 <br>
              Rio Grande do Norte<br>
              Brasil <br><br>
              <strong>Telefone:</strong> +55 (84) 981460730<br>
              <strong>Email:</strong> Triumph@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Início</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre Nós</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Dúvidas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Triumph Race</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Equipe</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Serviços</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Venda de Motocicletas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Informações de Motos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Manutenção e Serviços Técnicos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Peças e Acessórios Originais</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Eventos e Encontros</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossas Redes Sociais</h4>

            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  {% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function(){
    $('.money').mask('000.000,00', {reverse: true})
    })

    $(document).ready(function(){
      $('.ano').mask('0000', {reverse: true})
      })
    </script>
  
  {% endblock javascript %}
</body>

</html>